<h1>Login de usuario</h1>

<div>
    <form action="/api/users/login" method="post">
        <input type="text" id="username" name="username">
        <br />
        <input type="password" id="password" name="password">
        <br /><br />
        <button class="btn btn-success" type="submit">Ingresar</button>
    </form>
</div>
